.section {
    width: 100%;
    min-height: 65.85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background: var(--bg);
}

.containbox {
    width: min(95%, 752px);
    padding: 24px 16px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--text);
    cursor: pointer;
}

.slider::-ms-range-thumb {
    background: red;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--text);
    cursor: pointer;
}

.slider::-moz-range-progress {
    background: var(--text);
}

.slider::-moz-range-track {
    background: var(--slider);
}

.slider::-ms-fill-lower {
    background: var(--text);
}

.slider::-ms-fill-upper {
    background: var(--slider);
}


.sliderbox {
    width: 100%;
    height: 30px;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 86px;
    flex-direction: column;
    z-index: 2;
}

.selection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
    color: var(--universal1);
}

.radio{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.selection input[type="radio"] {
    display: none;
  }
  
  .selection label {
    display: inline-block;
    font-family: Arial;
    font-size: 32px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .selection input[type="radio"]:checked  ~ label {
    background: var(--text)
  }
/*
.slider{
    position: relative;
    width: 100%;
    height: 2px;
    background: #c4c4c4;
    border-radius: 5px;
}
.inner{
    height: 100%;
    background: black;
    border-radius: 5px 0 0 5px;
}
.round{
    position: absolute;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -9px;
}
*/
.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    color: var(--text);
}

.article .imgbox {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    overflow: hidden;
}

.article span {
    display: flex !important;
    position: relative !important;
}

.section img {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    align-self: center;
    aspect-ratio: 16/9;
}

.article h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40.7px;
    line-height: 65px;
}
.article h6{
    text-align: right;
    background-color: var(--text);
    color: var(--card-bg);
    width: 70px;
    align-self: flex-end;
    border-radius: 15px;
padding: 5px 0;
text-align: center;
}

.article p {
    font-style: normal;
    font-size: 1rem;
}

.article blockquote p {
    font-weight: bolder;
}

.article a {
    color: #c89d65;
}

.article a:hover {
    color: gold;
}
.article ul,.article ol{
    padding: 20px;
    margin: 0;
}
.article ul img,.article ol img{
    padding: 10px 0;
}

@media screen and (min-width: 768px) {
    .font1 h1{
        font-size: 50.7px !important;
        line-height: 72px !important;
    }
    
    .font1 p,.font1 ul,.font1 ol,.font1 a{
        font-style: normal;
        font-size: 1.2rem !important;
    }
    
    .font1 blockquote p {
        font-weight: bolder;
    }
    
    .font2 h1{
        font-size: 55.7px !important;
        line-height: 75px !important;
    }
    
    .font2 p,.font2 ul,.font2 ol,.font2 a{
        font-style: normal;
        font-size: 1.5rem !important;
    }
    
    .font2 blockquote p {
        font-weight: bolder;
    }
}
@media screen and (max-width: 768px){
    .sliderbox {
        top: 75px;
    }
}

@media screen and (max-width: 576px) {
    .containbox {
        padding: 25px;
    }

    .article h1 {
        font-size: 43.7px;
        line-height: 59px;
    }

    .article img{
        margin-top: 2rem;
    }
}