.card {
    background: var(--card-bg);
    box-shadow: var(--card-stroke);
    border: 0.2px solid var(--card-border);
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 0 10px;
    border-radius: 15px;
    width: 93%;
}

.lines {
    display: none;
}

.card .imgbox {
    width: 100%;
    height: auto;
    margin-top: 10px;
    overflow: hidden;
}

.card span {
    position: relative !important;
    display: flex !important;
}

.card img {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    object-fit: contain !important;
    aspect-ratio: 16/9;
}

.card .img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
}

.card a {
    color: var(--text);
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.card a p {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    font-weight: 400;
}

.card a p span {
    margin: 10px 4px;
    padding: 0 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card a h6 {
    position: relative;
    bottom: 0%;
    text-align: end;
    right: 10px;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
    padding: 0;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card h4{
    max-width: 27ch;
    font-weight: 500;
}

.card .h5 {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    left: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
}










@media screen and (min-width: 768px) {
    .cardlist {
        background: var(--card-bg);
        box-shadow: var(--card-stroke);
        border: 1px solid var(--card-border);
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 0 10px;
        border-radius: 15px;
        width: 93%;
    
    }
    
    .cardlist a {
        color: var(--text);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding: 10px;
        position: relative;
    }
    
    .cardlist .imgbox {
        height: 150px;
        width: 265px;
        overflow: hidden;
        border-radius: 15px;
        margin: 0.5rem 0;
    }
    .cardlist .imgbox span{
        position: relative !important;
        display: flex;
    }
    .cardlist .imgbox img {
        position: relative !important;
        width: 100% !important;
        height: 100% !important;
        object-fit: contain !important;
    }
    
    .cardlist .content {
        padding-left: 20px;
    }
    
    .cardlist h5 {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 10px;
    }
    .cardlist a p{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    .cardlist a p span {
        margin: 10px 4px;
        padding: 0 5px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
}
@media screen and (max-width: 400px) {
    .card a p {
        grid-template-columns: repeat(2, 1fr);
    }
}