
.active {
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    margin: 10px;
    background: var(--bg);
}
.inactive {
    background: transparent;
    border: none;
    border: 1px solid transparent;

    margin: 10px;
}
.inactive:hover{
    border: 1px solid;
    border-radius: 5px;
}
