.search{
    background: var(--bg);
    color: var(--text);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loader{
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search h2{
    margin: 1rem 0;
}
.searchcontain{
    width: min(1136px, 95%);
    margin-bottom: 25px;

}
.searchbox{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px,1fr));
    justify-items: center;
    min-height: 15vh;
}
.notfound{
    width: 100%;
    min-height: 24vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tag{
    padding: 0 5px;
    border: 2px solid red;
    border-radius: 15px;
}
.form h2{
    text-align: center;
}
.form input[type="checkbox"]:checked ~ .tag {
    background-color: #50bcf2;
}
.form input[type="checkbox"]:nth-child(n){
    display: none;
}
.multi{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,140px);
    height: auto ;
    position: relative;
    transition: 0.2s ease;
}
.difftime{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.difficulty{
    border: 1px solid red;
    padding: 5px;
    margin: 5px;
    width: 125px;
    display: flex;
    font-size: .9rem;
    align-items: center;
    justify-content: center;
}
.levelbox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1;
    height: auto;
    transition: 0.2s ease;
    position: relative;
}
.readslider{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.levelbox input{
    opacity: 0;
    display: none;
}
.levelbox label{
    text-transform: uppercase !important;
}
.searchboxlist{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    min-height: 15vh;

}


.timebox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.timebox button{
    margin-top: 2rem;
    align-self: end;
    margin-right: 2rem;
    width: 100px;
    background: #E1E0DD;
    border: 0.726257px solid #000000;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--text);
    cursor: pointer;
  }

  .slider::-ms-range-thumb{
      background: red;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--text);
    cursor: pointer;
  }
  .slider::-moz-range-progress {
    background-color: var(--text); 
}
.slider::-moz-range-track {  
    background-color: var(--search-bg);
}
.slider::-ms-fill-lower {
    background-color: var(--text); 
}
.slider::-ms-fill-upper {  
    background-color: var(--search-bg);
}

.difftime{
    overflow: hidden;
}
.sliderbox{
    opacity: 1;
    height: 0px;
    width: 75%;
    background: var(--bg);
    margin-top: 1rem;
    position: relative;
    transition: 0.2s ease;
}
.num{
    width: 99%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    padding: 0;
}

.viewbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewbox button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 2.2rem;
    background: var(--bg);
    color: var(--universal1);
    margin: 10px;
}
.viewbox h4{
    margin-top: none;
    margin-bottom: none;
    line-height: none;
}



@media screen and (max-width: 1200px) {
    .searchbox{
        grid-template-columns: repeat(2, 1fr);
    }  
}
@media screen and (max-width: 768px) {
    .viewbox{
        display: none;
    }
    .searchbox,.searchboxlist{
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 450px);
    }  
    .difftime{
        display: grid;
        grid-template-columns: 1fr;
    }
    .levelbox,.readslider{
        flex-direction: column;
    }
    .form input[type="checkbox"]:nth-child(n){
        display: none;
    }
    .multi{
        opacity: 0;
        pointer-events: none;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill,140px);
        height: 0px ;
        position: relative;
        transition: 0.2s ease;
    }
    .form input:checked ~ .multi{
       opacity: 1;
       height: auto !important;
       transition: 0.2s ease;
       pointer-events: all;
    
    }
    .formh2 label::after{
        content: " ▾";
    }
    .form input:checked ~ .formh2 label::after{
        content: " ▴";
    }

    .levelbox{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        opacity: 0;
        height: 0px;
        transition: 0.2s ease-in-out;
        position: relative;
        pointer-events: none;
    }
    .diffbox input:checked ~ .levelbox{
        opacity: 1;
        height: auto;
        transition: 0.2s ease-in-out;
        pointer-events: all;
    }
    .diffh2 label::after{
        content: " ▾";
    }
    .form input:checked ~ .diffh2 label::after{
        content: " ▴";
    }



    .sliderbox{
        opacity: 0;
        pointer-events: none;
        height: auto;
        width: 75%;
        background: var(--bg);
        margin-top: 1rem;
        position: relative;
        transition: 0.2s ease;
    }
    .timebox input:checked ~ .sliderbox{
        opacity: 1;
        transition: 0.2s ease;
        pointer-events: all;
        padding-bottom: 1rem;
    }
    .readh2 label::after{
        content: " ▾";
    }
    .form input:checked ~ .readh2 label::after{
        content: " ▴";
    }
    
}
@media screen and (max-width: 576px) {
    .notfound{
        min-height: 25vh;
    }
}
@media screen and (max-width: 400px) {
    .searchboxlist{
        display: grid;
        grid-template-columns: 100%;
    }  
    .searchbox,.searchboxlist{
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 100%);
    }  
}