.search{
    background: var(--bg);
    color: var(--text);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchcontain{
    width: min(1136px, 95%);

}
.searchbox{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px,1fr));
    justify-items: center;
}
.tag{
    padding: 0 5px;
    border: 2px solid red;
    border-radius: 15px;
}
.form h2{
    text-align: center;
}
.form input[type="checkbox"]:checked ~ .tag {
    background-color: #50bcf2;
  }
.difftime{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.difficulty{
    border: 1px solid red;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.levelbox,.readslider{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.searchboxlist{
    display: grid;
    grid-template-columns: 1fr;
}
.multi{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,140px);
}



@media screen and (max-width: 1200px) {
    .searchbox{
        grid-template-columns: repeat(2, 1fr);
    }  
}
@media screen and (max-width: 768px) {
    .searchbox{
        grid-template-columns: repeat(1, 100%);
    }  
    .difftime{
        display: grid;
        grid-template-columns: 1fr;
    }
    .levelbox,.readslider{
        flex-direction: column;
    }
    
}
@media screen and (max-width: 576px) {
    
}
@media screen and (max-width: 400px) {
    .searchboxlist{
        display: grid;
        grid-template-columns: 100%;
    }  
}